<ul class="nav nav-pills flex-column">
  <% current_user.reload.lists.each do |list| %>
    <li class="nav-item">
      <%= link_to list.name, users_list_path(list), class: 'nav-link' %>
    </li>
  <% end %>
</ul>

<div class='fixed-bottom'>
  <%= link_to '+', new_users_list_path, class: 'btn btn-primary btn-lg col-sm-3 col-md-2' %>
</div>