<h1>Bucketlist</h1>
<p>
  É a maneira mais fácil de fazer as coisas. Se você está planejando um
  feriado, compartilhando uma lista de compras com um parceiro ou gerenciando
  vários projetos de trabalho, o Bucketlist está aqui para ajudá-lo a marcar
  seus itens pessoais e profissionais.
</p>

<h2>O que preciso fazer agora?</h2>
<p>
  Se você faz essa pergunta com uma certa frequência, este é o aplicativo ideal
  para você!
</p>